@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arapey', serif;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(../assets/fondo-administracion.avif);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;

}

main {
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(10px);
}

textarea {
    resize: none;
}

