*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 #carrusel {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;  
  min-height: 100vh;
}
 .slider{
  padding-bottom: 200px;
 }
 .slider .swiper-container{
   width: 100%;
   height: 100%;
 }
 .slider .swiper-slide {
   position: relative;
   text-align: center;
   font-size: 18px;
   background: #fff;
   border-radius: 15px;
   text-align: start;
   box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);
  
 }
 .slider .swiper-slide img{
    display: block;
     width: 100%;
     height: 180px;
     object-fit: contain;
     border-top-left-radius: 15px;
     border-top-right-radius: 15px;
     transition: all .5s;
 
 }
 .slider .swiper-slide .card-description{
     padding:1rem 1rem;
 }
 .slider .swiper-slide .card-title, .container .swiper-slide .card-text{
    margin-bottom: .5rem;
 }
 .slider .swiper-slide .card-link{
    text-align: center;
   
 }
 .slider .swiper-slide .card-link a{
     text-decoration: none;
     color: #1d6ce2;
 }

 .slider {
    overflow: hidden;
 }

.swiper-button-next {
   top: auto;
   padding-top: 190px;
   color: #8D080D;
   right: 30px;
}


.swiper-button-prev {
   top: auto;
   padding-top: 190px;
   color: #8D080D;
   left: 30px;
}

.slider .swiper-slide img:hover {
   transform: scale(1.05);
}